.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.upper-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  padding: 20px;
 
  
}

.bg-image {
  position: relative;
  width: 100%;
  height: 100vh; 
  background-image: url('image/Hero-bg.png');
  background-size: cover;
  background-position: center;
}

button {
  background-color: #0d1321;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.middle {
  background-color: white; 
  padding: 60px; 
   margin: 150px;  
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

section.why-web-dev {
  text-align: center;
  margin: 20px;
}

.body-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.body1, .body2, .body3 {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.body1 img, .body3 img {
  width: 40%;
  border-radius: 8px;
}

.body1 .text, .body3 .text {
  width: 60%;
  padding: 0 20px;
}

/* .body2 {
  flex-direction: row-reverse;
} */

.body2 img {
  width: 40%;
  border-radius: 8px;
}

.body2 .text {
  width: 60%;
  padding: 0 20px;
}







