.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.upper-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro {
  position: relative;
  color: black;
  text-align: center;
  padding: 20px;
  
  
}

.bg-image {
  position: absolute;
  width: 1440px;
  background-image: url('image/Hero-bg.png');
  background-size: cover;
  background-position: center;
  
}



button {
  background-color: #0D1321;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
} 


